/venv/
/.idea/
__pycache__/
corrected_eng.txt
corrected_rus.txt
0. test_correcting_text.py
1. test_russian.py
2. test_dict.py
3. test_exceptions.py
4. test_dist.py
5. test_stdin.py
6. test_dictcreator.py
7. test_prcessbar.py
text_eng.txt
text_rus.txt
edit_distance.py